body {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

a {
  color: #61dafb;
}

header {
  border: 1px solid grey;
  border-top: 0px;
  padding: 20px;
}

article.tweet {
  border: 1px solid grey;
  border-radius: 1px;
  border-top: 0px;
  padding: 20px;
}

img {
  border: 2px solid black;
  border-radius: 9999px;
  border-width: 1px;
  max-width: 10%;
}