.App {
  text-align: center;
}

body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a {
  color: #61dafb;
}

article {
  border: 1px solid grey;
  border-radius: 1px;
  border-bottom: 0px;
  padding: 7px 100px 40px 100px;
  margin-bottom: -2px;
}

span.tweetCreatedOn {
  font-size: 0.8em;
}

span.tweetCreatedOn::before {
  content: '- ';
}
